In [65]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data, encoding="utf-8")
student_data_df = pd.read_csv(student_data, encoding="utf-8")

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

# Local Government Area Summary

In [57]:
# Calculate the Totals (Schools and Students)
school_count =len(school_data_complete["school_name"].unique())
student_count =len(school_data_complete["student_name"])

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()  


Budget_per_student = total_budget/student_count

print("Total Number of Unique Schools: ", school_count)
print("Total Students: ", student_count)
print(f"Total Budget: {total_budget:.2f}")
print(f"Budget Per student: {Budget_per_student:.2f}")

Total Number of Unique Schools:  15
Total Students:  39170
Total Budget: 24649428.00
Budget Per student: 629.29

In [58]:
# Calculate the Average Scores
Total_Math_Score = sum(school_data_complete["maths_score"])
Total_Reading_Score = sum(school_data_complete["reading_score"])

average_maths_score =Total_Math_Score/student_count
school_data_complete["Average Maths Score"]=average_maths_score

average_reading_score =Total_Reading_Score/student_count
school_data_complete["Average Reading Score"]=average_reading_score

print(f"Average Math Score: {average_maths_score:.2f}")
print(f"Average Reading Score: {average_reading_score:.2f}")

Average Math Score: 70.34
Average Reading Score: 69.98

In [59]:

# Define the passing score
passing_score = 50

# % passing maths (the percentage of students who passed maths)
students_pass_math = school_data_complete[school_data_complete["maths_score"] >= passing_score]
pass_math = len(students_pass_math)
percentage_pass_math = (pass_math / len(school_data_complete)) * 100
school_data_complete["% Passing Maths"]=percentage_pass_math

# % passing reading (the percentage of students who passed reading)
students_pass_reading = school_data_complete[school_data_complete["reading_score"] >= passing_score]
pass_reading = len(students_pass_reading)
percentage_pass_reading = (pass_reading / len(school_data_complete)) * 100
school_data_complete["% Passing Reading"]=percentage_pass_reading

# % overall passing (the percentage of students who passed both maths AND reading)
students_pass_both = school_data_complete[(school_data_complete["maths_score"] >= passing_score) & 
                                          (school_data_complete["reading_score"] >= passing_score)]
pass_both = len(students_pass_both)
percentage_pass_both = (pass_both / len(school_data_complete)) * 100
school_data_complete["% Overall Passing"]=percentage_pass_both

# Output the results
print(f"% Passing Math: {percentage_pass_math:.2f}%")
print(f"% Passing Reading: {percentage_pass_reading:.2f}%")
print(f"% Overall Passing (Math and Reading): {percentage_pass_both:.2f}%")

% Passing Math: 86.08%
% Passing Reading: 84.43%
% Overall Passing (Math and Reading): 72.81%

In [60]:
# Convert to DataFrame
area_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count], "Total Budget":[total_budget], "Average Maths Score":[average_maths_score], "Average Reading Score":[average_reading_score], "% Passing Math":[percentage_pass_math],"% Passing Reading":[percentage_pass_reading], "% Overall Passing":[percentage_pass_both]})

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
area_summary.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

# School Summary

In [75]:
# Use the code provided to select the type per school from school_data
# School types
school_types = school_data_df.set_index("school_name")["type"]

# Calculate the total student count per school
Students_per_school = school_data_df.set_index("school_name")["size"]

# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_df.set_index("school_name")["budget"]
per_school_capita = per_school_budget / Students_per_school

# Calculate the average test scores per school
per_school_maths = school_data_complete.groupby("school_name")["maths_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()



# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading =per_school_maths + per_school_reading

In [73]:
passing_score = 50

school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= passing_score].groupby("school_name")["Student ID"].count()
PercentPassMath = (school_passing_maths /Students_per_school)*100
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= passing_score].groupby("school_name")["Student ID"].count()
PercentPassReading = (school_passing_reading/Students_per_school)*100

# Get the students who passed both reading and maths
passing_maths_and_reading = school_data_complete[
    (school_data_complete["maths_score"] >= passing_score) &
    (school_data_complete["reading_score"] >= passing_score)
].groupby("school_name")["Student ID"].count()
PercentOverallPass = (passing_maths_and_reading/Students_per_school)*100

In [74]:
# Create the summary DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": Students_per_school,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_maths,
    "Average Reading Score": per_school_reading,
    "% Passing Math": PercentPassMath,
    "% Passing Reading": PercentPassReading,
    "% Overall Passing": PercentOverallPass
})
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,NaN,2917.0,"$1,910,635.00",$655.00,NaN,NaN,NaN,NaN,NaN
1,NaN,2949.0,"$1,884,411.00",$639.00,NaN,NaN,NaN,NaN,NaN
2,NaN,1761.0,"$1,056,600.00",$600.00,NaN,NaN,NaN,NaN,NaN
3,NaN,4635.0,"$3,022,020.00",$652.00,NaN,NaN,NaN,NaN,NaN
4,NaN,1468.0,"$917,500.00",$625.00,NaN,NaN,NaN,NaN,NaN
5,NaN,2283.0,"$1,319,574.00",$578.00,NaN,NaN,NaN,NaN,NaN
6,NaN,1858.0,"$1,081,356.00",$582.00,NaN,NaN,NaN,NaN,NaN
7,NaN,4976.0,"$3,124,928.00",$628.00,NaN,NaN,NaN,NaN,NaN
8,NaN,427.0,"$248,087.00",$581.00,NaN,NaN,NaN,NaN,NaN
9,NaN,962.0,"$585,858.00",$609.00,NaN,NaN,NaN,NaN,NaN
10,NaN,1800.0,"$1,049,400.00",$583.00,NaN,NaN,NaN,NaN,NaN
11,NaN,3999.0,"$2,547,363.00",$637.00,NaN,NaN,NaN,NaN,NaN
12,NaN,4761.0,"$3,094,650.00",$650.00,NaN,NaN,NaN,NaN,NaN
13,NaN,2739.0,"$1,763,916.00",$644.00,NaN,NaN,NaN,NaN,NaN
14,NaN,1635.0,"$1,043,130.00",$638.00,NaN,NaN,NaN,NaN,NaN
Bailey High School,Government,NaN,$nan,$nan,72.352894,71.008842,NaN,NaN,NaN
Cabrera High School,Independent,NaN,$nan,$nan,71.657158,71.359526,NaN,NaN,NaN
Figueroa High School,Government,NaN,$nan,$nan,68.698542,69.077993,NaN,NaN,NaN
Ford High School,Government,NaN,$nan,$nan,69.091274,69.572472,NaN,NaN,NaN
Griffin High School,Independent,NaN,$nan,$nan,71.788147,71.245232,NaN,NaN,NaN
Hernandez High School,Government,NaN,$nan,$nan,68.874865,69.186408,NaN,NaN,NaN
Holden High School,Independent,NaN,$nan,$nan,72.583138,71.660422,NaN,NaN,NaN
Huang High School,Government,NaN,$nan,$nan,68.935207,68.910525,NaN,NaN,NaN
Johnson High School,Government,NaN,$nan,$nan,68.843100,69.039277,NaN,NaN,NaN
Pena High School,Independent,NaN,$nan,$nan,72.088358,71.613306,NaN,NaN,NaN
Rodriguez High School,Government,NaN,$nan,$nan,72.047762,70.935984,NaN,NaN,NaN
Shelton High School,Independent,NaN,$nan,$nan,72.034072,70.257808,NaN,NaN,NaN
Thomas High School,Independent,NaN,$nan,$nan,69.581651,69.768807,NaN,NaN,NaN
Wilson High School,Independent,NaN,$nan,$nan,69.170828,68.876916,NaN,NaN,NaN
Wright High School,Independent,NaN,$nan,$nan,72.047222,70.969444,NaN,NaN,NaN

SyntaxError: invalid syntax (3058923139.py, line 7)