In [1]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data, encoding="utf-8")
student_data_df = pd.read_csv(student_data, encoding="utf-8")

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [12]:
# Calculate the Totals (Schools and Students)
school_count =len(school_data_complete["school_name"].unique())
student_count =len(school_data_complete["student_name"].unique())

# Calculate the Total Budget
total_budget =sum(school_data_complete["budget"].unique())
Budget_per_student = total_budget/student_count

print("Total Schools: ", school_count)
print("Total Students: ", student_count)
print("Total Budget: ", total_budget)
print(f"Budget Per student: {Budget_per_student:.2f}")

Total Schools:  15
Total Students:  32655
Total Budget:  24649428
Budget Per student: 754.84

In [15]:
# Calculate the Average Scores
Total_Math_Score = sum(school_data_complete["maths_score"])
Total_Reading_Score = sum(school_data_complete["reading_score"])
average_maths_score =Total_Math_Score/student_count
average_reading_score =Total_Reading_Score/student_count

print(f"Average Math Score: {average_maths_score:.2f}")
print(f"Average Reading Score: {average_reading_score:.2f}")

Average Math Score: 84.37
Average Reading Score: 83.94

In [ ]:
# % passing maths (the percentage of students who passed maths)
Student_pass_Math =

# % passing reading (the percentage of students who passed reading)
Student_Pass_Reading =

# % overall passing (the percentage of students who passed maths AND reading)
Students_Pass =