In [1]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames

school_data_df = pd.read_csv(school_data, encoding="utf-8")
student_data_df = pd.read_csv(student_data, encoding="utf-8")

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

# Local Government Area Summary

In [2]:
# Calculate the Totals (Schools and Students)
school_count =len(school_data_complete["school_name"].unique())
student_count =len(school_data_complete["student_name"])

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()  

print("Total Number of Unique Schools: ", school_count)
print("Total Students: ", student_count)
print(f"Total Budget: {total_budget:.2f}")

Total Number of Unique Schools:  15
Total Students:  39170
Total Budget: 24649428.00

In [3]:
# Calculate the Average Scores
Total_Math_Score = sum(school_data_complete["maths_score"])
Total_Reading_Score = sum(school_data_complete["reading_score"])

average_maths_score =Total_Math_Score/student_count

average_reading_score =Total_Reading_Score/student_count

print(f"Average Math Score: {average_maths_score:.2f}")
print(f"Average Reading Score: {average_reading_score:.2f}")

Average Math Score: 70.34
Average Reading Score: 69.98

In [4]:

# Define the passing score
passing_score = 50

# % passing maths (the percentage of students who passed maths)
students_pass_math = school_data_complete[school_data_complete["maths_score"] >= passing_score]
pass_math = len(students_pass_math)
percentage_pass_math = (pass_math / len(school_data_complete)) * 100


# % passing reading (the percentage of students who passed reading)
students_pass_reading = school_data_complete[school_data_complete["reading_score"] >= passing_score]
pass_reading = len(students_pass_reading)
percentage_pass_reading = (pass_reading / len(school_data_complete)) * 100


# % overall passing (the percentage of students who passed both maths AND reading)
students_pass_both = school_data_complete[(school_data_complete["maths_score"] >= passing_score) & 
                                          (school_data_complete["reading_score"] >= passing_score)]
pass_both = len(students_pass_both)
percentage_pass_both = (pass_both / len(school_data_complete)) * 100


# Output the results
print(f"% Passing Math: {percentage_pass_math:.2f}%")
print(f"% Passing Reading: {percentage_pass_reading:.2f}%")
print(f"% Overall Passing (Math and Reading): {percentage_pass_both:.2f}%")

% Passing Math: 86.08%
% Passing Reading: 84.43%
% Overall Passing (Math and Reading): 72.81%

In [5]:
# Convert to DataFrame
area_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count], "Total Budget":[total_budget], "Average Maths Score":[average_maths_score], "Average Reading Score":[average_reading_score], "% Passing Math":[percentage_pass_math],"% Passing Reading":[percentage_pass_reading], "% Overall Passing":[percentage_pass_both]})

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
area_summary.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

# School Summary

In [6]:
school_data_df.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [7]:
# Use the code provided to select the type per school from school_data
school_types = school_data_df.set_index("school_name")["type"]

# Calculate the total student count per school
Students_per_school = school_data_df.set_index("school_name")["size"]

# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_df.set_index("school_name")["budget"]
per_school_capita = per_school_budget / Students_per_school

# Calculate the average test scores per school
per_school_maths = school_data_complete.groupby("school_name")["maths_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()



# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading =per_school_maths + per_school_reading

In [8]:
passing_score = 50

school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= passing_score].groupby("school_name")["Student ID"].count()
PercentPassMath = (school_passing_maths /Students_per_school)*100
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= passing_score].groupby("school_name")["Student ID"].count()
PercentPassReading = (school_passing_reading/Students_per_school)*100

# Get the students who passed both reading and maths
passing_maths_and_reading = school_data_complete[
    (school_data_complete["maths_score"] >= passing_score) &
    (school_data_complete["reading_score"] >= passing_score)
].groupby("school_name")["Student ID"].count()
PercentOverallPass = (passing_maths_and_reading/Students_per_school)*100

In [9]:
# Create the summary DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": Students_per_school,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_maths,
    "Average Reading Score": per_school_reading,
    "% Passing Math": PercentPassMath,
    "% Passing Reading": PercentPassReading,
    "% Overall Passing": PercentOverallPass
})
# Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

# Top Performing Schools (By % Overall Passing)

In [10]:
# Sort and show top five schools
top_schools = per_school_summary_df.sort_values(("% Overall Passing"),ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

# Bottom Performing Schools (By % Overall Passing)

In [11]:
top_schools = per_school_summary_df.sort_values("% Overall Passing")
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

# Maths Scores by Year

In [12]:
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [13]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[school_data_complete["year"] == 9]
year_ten = school_data_complete[school_data_complete["year"] == 10]
year_eleven = school_data_complete[school_data_complete["year"] == 11]
year_twelve = school_data_complete[school_data_complete["year"] == 12]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["maths_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["maths_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["maths_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["maths_score"].mean()

# Combine series into a DataFrame
maths_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

# Reading Score by Year

In [14]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[school_data_complete["year"] == 9]
year_ten = school_data_complete[school_data_complete["year"] == 10]
year_eleven = school_data_complete[school_data_complete["year"] == 11]
year_twelve = school_data_complete[school_data_complete["year"] == 12]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["reading_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["reading_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["reading_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["reading_score"].mean()

# Combine series into a DataFrame
reading_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

# Scores by School Spending

In [58]:
# Establish the bins
Spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]
print("Bins sorted:", all(bins[i] <= bins[i + 1] for i in range(len(bins) - 1)))

Bins sorted: True

In [59]:
# Create a copy of the school summary for later aggregations
# This step can be skipped but it's best to make a copy.
school_spending_df = per_school_summary_df.copy()
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].replace({'\$': '', ',': ''}, regex=True)
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].astype('float64')

In [60]:
school_spending_df.head(2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791

In [61]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorise per student spending based on the bins.
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(
    school_spending_df['Per Student Budget'],
    bins=Spending_bins,
    labels=group_names,
    include_lowest=True
)

# Convert Spending Ranges (Per Student) to a string

school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)

# Display the DataFrame
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [47]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [49]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score":spending_maths_scores, "Average Reading Score":spending_reading_scores, "% Passing Maths":spending_passing_maths,"% Passing Reading":spending_passing_reading,"% Overall Passing":overall_passing_spending })

# Formatting
spending_summary["Average Math Score"]=spending_summary["Average Math Score"].map("${:,.2f}".format)
spending_summary["Average Reading Score"]=spending_summary["Average Reading Score"].map("${:,.2f}".format)
spending_summary['% Passing Maths']=spending_summary['% Passing Maths'].map("${:,.2f}".format)
spending_summary['% Passing Reading']=spending_summary['% Passing Reading'].map("${:,.2f}".format)
spending_summary['% Overall Passing']=spending_summary['% Overall Passing'].map("${:,.2f}".format)

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-630,$72.07,$71.03,$91.52,$87.29,$79.88
$630-645,$69.85,$69.84,$84.69,$83.76,$71.00
$645-680,$68.88,$69.05,$81.57,$81.77,$66.76
<$585,$71.36,$70.72,$88.84,$86.39,$76.72

# Scores by School Size

In [62]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [63]:
# Create a copy of the school summary for later aggregations
# This step can be skipped but it's best to make a copy.
school_size_df = per_school_summary_df.copy()

school_size_df.head(2)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791

In [64]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorise school size based on the bins.
school_size_df["School Size"] =pd.cut(
    school_size_df['Total Students'],
    bins=size_bins,
    labels=group_names,
    include_lowest=True
)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222,Medium (1000-2000)

In [65]:
# Calculate averages for the desired columns.
size_maths_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = school_size_df.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [67]:
# Assemble into DataFrame
size_summary =pd.DataFrame({
    "Average Math Score":size_maths_scores, 
    "Average Reading Score":size_maths_scores,
    "% Passing Maths":size_maths_scores,
    "% Passing Reading":size_maths_scores,
    "% Overall Passing":size_maths_scores
})

# Formatting
size_summary["Average Math Score"]=size_summary["Average Math Score"].map("${:,.2f}".format)
size_summary["Average Reading Score"]=size_summary["Average Reading Score"].map("${:,.2f}".format)
size_summary['% Passing Maths']=size_summary['% Passing Maths'].map("${:,.2f}".format)
size_summary['% Passing Reading']=size_summary['% Passing Reading'].map("${:,.2f}".format)
size_summary['% Overall Passing']=size_summary['% Overall Passing'].map("${:,.2f}".format)

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Large (2000-5000),$69.75,$69.75,$69.75,$69.75,$69.75
Medium (1000-2000),$71.42,$71.42,$71.42,$71.42,$71.42
Small (<1000),$72.34,$72.34,$72.34,$72.34,$72.34

# Scores by School Type

In [68]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary_df.groupby(["School Type"])["Average Math Score"].mean()
type_reading_scores = per_school_summary_df.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary_df.groupby(["School Type"])["% Passing Math"].mean()
type_passing_reading = per_school_summary_df.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary_df.groupby(["School Type"])["% Overall Passing"].mean()

In [69]:
# Assemble into DataFrame
type_summary =pd.DataFrame({
    "Average Math Score":type_maths_scores, 
    "Average Reading Score":type_reading_scores,
    "% Passing Maths":type_passing_maths,
    "% Passing Reading":type_passing_reading,
    "% Overall Passing":type_overall_passing
})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340