In [12]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\schools_complete.csv")
student_data = Path(r"C:\Users\amrit\LearnPython\assignment1\pandas-challenge\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data, encoding="utf-8")
student_data_df = pd.read_csv(student_data, encoding="utf-8")

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

# Local Government Area Summary

In [13]:
# Calculate the Totals (Schools and Students)
school_count =len(school_data_complete["school_name"].unique())
student_count =len(school_data_complete["student_name"])

# Calculate the Total Budget
total_budget =sum(school_data_complete["budget"].unique())


Budget_per_student = total_budget/student_count

print("Total Number of Unique Schools: ", school_count)
print("Total Students: ", student_count)
print(f"Total Budget: {total_budget:.2f}")
print(f"Budget Per student: {Budget_per_student:.2f}")

Total Number of Unique Schools:  15
Total Students:  39170
Total Budget: 24649428.00
Budget Per student: 629.29

In [14]:
# Calculate the Average Scores
Total_Math_Score = sum(school_data_complete["maths_score"])
Total_Reading_Score = sum(school_data_complete["reading_score"])

average_maths_score =Total_Math_Score/student_count
school_data_complete["Average Maths Score"]=average_maths_score

average_reading_score =Total_Reading_Score/student_count
school_data_complete["Average Reading Score"]=average_reading_score

print(f"Average Math Score: {average_maths_score:.2f}")
print(f"Average Reading Score: {average_reading_score:.2f}")

Average Math Score: 70.34
Average Reading Score: 69.98

In [15]:

# Define the passing score
passing_score = 50

# % passing maths (the percentage of students who passed maths)
students_pass_math = school_data_complete[school_data_complete["maths_score"] >= passing_score]
pass_math = len(students_pass_math)
percentage_pass_math = (pass_math / len(school_data_complete)) * 100
school_data_complete["% Passing Maths"]=percentage_pass_math

# % passing reading (the percentage of students who passed reading)
students_pass_reading = school_data_complete[school_data_complete["reading_score"] >= passing_score]
pass_reading = len(students_pass_reading)
percentage_pass_reading = (pass_reading / len(school_data_complete)) * 100
school_data_complete["% Passing Reading"]=percentage_pass_reading

# % overall passing (the percentage of students who passed both maths AND reading)
students_pass_both = school_data_complete[(school_data_complete["maths_score"] >= passing_score) & 
                                          (school_data_complete["reading_score"] >= passing_score)]
pass_both = len(students_pass_both)
percentage_pass_both = (pass_both / len(school_data_complete)) * 100
school_data_complete["% Overall Passing"]=percentage_pass_both

# Output the results
print(f"% Passing Math: {percentage_pass_math:.2f}%")
print(f"% Passing Reading: {percentage_pass_reading:.2f}%")
print(f"% Overall Passing (Math and Reading): {percentage_pass_both:.2f}%")

% Passing Math: 86.08%
% Passing Reading: 84.43%
% Overall Passing (Math and Reading): 72.81%

In [26]:
# Convert to DataFrame
area_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count], "Total Budget":[total_budget], "Average Maths Score":[average_maths_score], "Average Reading Score":[average_reading_score], "% Passing Math":[percentage_pass_math],"% Passing Reading":[percentage_pass_reading], "% Overall Passing":[percentage_pass_both]})

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
area_summary.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

# School Summary

In [1]:
# Use the code provided to select the type per school from school_data

school_types = school_data_complete.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = len(school_data_complete["school_name"].unique())

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = total_budget/school_count

per_school_capita = per_school_budget/per_school_counts

# Calculate the average test scores per school from school_data_complete
per_school_maths = school_data_complete.groupby("school_name")["maths_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()


# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading =per_school_maths + per_school_reading


school_data_complete[["school_name","school_type"].head()

SyntaxError: incomplete input (2301162452.py, line 22)

In [39]:
passing_score = 50

school_passing_maths = school_data_complete[school_data_complete["maths_score"] >= passing_score]
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= passing_score]

# Get the students who passed both reading and maths
passing_maths_and_reading = school_data_complete[
    (school_data_complete["maths_score"] >= passing_score) &
    (school_data_complete["reading_score"] >= passing_score)
]

In [36]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({
    "School Name",
    "School Type",
     "Total Students",                                  
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Maths Score": per_school_maths,
    "Average Reading Score": per_school_reading
})
print(per_school_counts)
print(per_school_budget)
print(per_school_capita)
print(per_school_maths)


# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (791672066.py, line 6)

In [34]:
# Formatting the monetary values
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the formatted DataFrame
per_school_summary
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

SyntaxError: invalid syntax (3058923139.py, line 7)